<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HealthHive</title>


    <link rel="stylesheet" href="/css/main.css">

</head>

<body>
    <header class="header">
        <div class="divhead">
            <h1>Health Hive</h1>
            <nav>
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    {{#unless loggedIn}}
                    <li>
                        <a id="Login" href="login#Home">Login</a>
                    </li>
                     {{/unless}}
  
                     {{#if loggedIn}}
                    <li>
                        <a id="Logout" href="login">Logout</a>
                    <script src="js/logout.js"> </script>
                    </li>
                    {{/if}}


                </ul>
            </nav>
        </div>


    </header>

    <main>   
        {{{ body }}}
    </main>

</body>

</html>