<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HealthHive</title>


    <link rel="stylesheet" href="/css/main.css">

</head>

<body>
    <header class="header">
        <div class="divhead">
            <h1>Health Hive</h1>
            <nav>
                <ul>
                    <li>
                        <a href="#Home">Home</a>
                    </li>
                    <li>
                        <a href="#Account">Account</a>
                    </li>
                    <li>

                        <a href="#logout">logout</a>

                    </li>
                    <li>
                        <a href="#contact-us">Contact Us</a>
                    </li>
                </ul>
            </nav>
        </div>


    </header>

    <main>   
        {{{ body }}}
    </main>

    <script src="/js/homepage.js"></script>

</body>

</html>