<link rel="stylesheet" href="/css/add-post.css">

<div class="container">
    <div class="hexagon"></div>
    <div class="form-section">
        <form class="new-post-form">
            <div class="title">Welcome</div>
            <div class="subtitle">Let's create a post!</div>
            <div class="post-title-section">
                <label for="post-title">Title</label>
                <input type="text" id="post-title" name="post-title" />
            </div>
            <div class="post-content">
                <label for="post-content">Content</label>
                <textarea class="entry-field" id="post-content" name="post-content"></textarea>
            </div>
            <button type="submit" class="btn">Post</button>
        </form>
    </div>
</div>

<script src="/js/add-post.js"></script>