</section>
<div class="div-cards">
    <section class="container">
        <div class="card">
            <div class="card-image"></div>
            <h2 class="card-title">Blog</h2>
        <ul class="post-list">

        {{#each posts as |post|}}
        <li>

            {{> post-info post }}
        </li>
        {{/each}}
    </ul>
            <p class="card-text"></p>
            </div>
    </section>
    {{!-- <section class="container">
        <div class="card">
            <div class="card-image"></div>
            <h2 class="card-title">Title</h2>
            <p class="card-text">Text</p>
    </section>


    <section class="container">
        <div class="card">
            <div class="card-image"></div>
            <h2 class="card-title">Title</h2>
            <p class="card-text">Text</p>
    </section> --}}
</div>



<div class="form-container">
    <input type="text" name="post-title" class="input-field" placeholder="Title">
    <textarea name="post-content" cols="30" rows="10" class="input-field" placeholder="Content"></textarea>
    <button type="button" id="create-new-post" class="btn-submit">Post!</button>
</div>

{{!-- <div class="blogdiv">
    {{!-- <h2 class="blog">Blog:</h2> --}}
    <ul class="post-list">
        {{#each posts as |post|}}
        <li>
            {{> post-info post }}
        </li>
        {{/each}}
    </ul>
</div> --}}



<script src="js/add-post.js"