</section>
<div class="div-cards">
    <section class="container">
        <div class="card">
            <div class="card-image"></div>
            <h2 class="card-title">Title</h2>
            <p class="card-text">Text</p>
    </section>
    <section class="container">
        <div class="card">
            <div class="card-image"></div>
            <h2 class="card-title">Title</h2>
            <p class="card-text">Text</p>
    </section>


    <section class="container">
        <div class="card">
            <div class="card-image"></div>
            <h2 class="card-title">Title</h2>
            <p class="card-text">Text</p>
    </section>
</div>


<div class="blogdiv">
    <h2 class="blog">job postings/ networking:</h2>
    <ul class="post-list">
        {{#each posts as |post|}}
        <li>
            {{> post-info post }}
        </li>
        {{/each}}
    </ul>
</div>