</section>
<div class="div-cards">
    <section class="container">
        <div class="card">
            <div class="card-image"></div>
            <h2 class="card-title"></h2>
            <ul class="post-list">
                {{> post-info post}}
                {{> comments post.comments}}
            </ul>
            <br>
        </div>
    </section>
</div>

