<h2>Welcome</h2>
<img src="/images/Welcome.png" alt="Welcome Picture" class ="center">
<div class = "form-container">
    <p>HealthHive is a platform dedicated to helping medical professionals get together and share idead, experiences, and job oppertunities. If you would like to join up please login or sign up and join the HealthHive community!</p>
</div>