.header{
    /* background-color: red; */
    height: 80px;
    display: flex;
    justify-content: center;
    /* max-width: 1400px; */
}


body {
    background: black;
}


.divhead{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: #feb200;
}


h1{
    /* background-color: greenyellow; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding: 10px;
}


nav{
    /* background-color: purple; */
    /* width: 85%; */
    display: flex;
    justify-content: flex-end;
    align-items:center;
    /* flex-direction: row;
    flex-wrap: wrap;
    align-content: space-evenly; */
}


ul{
    display: block;
    padding: 10px;
    flex-wrap: wrap;
    gap: 1em;
}


a{
    color:black; 
    text-decoration: none;
}


@media screen and (min-width: 700px){
    .divhead{
        flex-direction: row;
    }
    h1{
        width: 25%;
        height: 80%;
    }
    nav {
        width: 65%;
        height: 80%;
    }
   
}


.search{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blanchedalmond;
    padding: 15px;
    border-radius: 0 0 15px 15px;
}


.div-cards{
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    display: flex;
    /* justify-content: center; */
    width: 100%;
    /* height: 100%; */
    margin: 10px;
    /* align-items: center; */
}
.card {
    background: white;
    width: 100%;
    height: 100%;
    margin: 10px;
    border-radius: 15px;
    /* align-items: center; */
    /* justify-content: center; */
}
.card-image {
    background-color: #feb200;;
    height: 150px;
    /* margin-bottom: 15px; */
    border-radius: 15px 15px 0 0;
}


.card-title, .card-text{
    display: flex;
    justify-content: center;
    align-items: center;
}


.blogdiv{   
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}


.blog{
    display: flex;
    background: white;
    width: 90%;
    /* justify-content: center; */
    /* align-items: center; */
    height: 150px;
    border-radius: 15px;
    padding: 10px;


}

.input-field {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.form-container {
    width: 50%; /* Change this value to adjust the width of the container */
    margin: 0 auto; /* This centers the container horizontally */
}


::placeholder {
    color: gray;
    opacity: 0.7; /* Adjust this to change the opacity of the placeholder text */
}

.btn-submit {
    width: 100%;
    background-color: rgb(169, 167, 167);
    color: white;
    padding: 14px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: #45a049;
}
.info-section {
    color: black;
    border: 1px solid #feb200;
    text-align: center;
}

h2 {
    text-align: center;
    text-shadow: #feb200;
    color: black;
    font-size: 50px;

}
p {
    text-align: center;
    font-size: 20px;
    
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}